@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {background: rgb(61,72,131);
  background: -moz-linear-gradient(90deg, rgba(61,72,131,1) 0%, rgba(11,29,87,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(61,72,131,1) 0%, rgba(11,29,87,1) 100%);
  background: linear-gradient(90deg, rgba(61,72,131,1) 0%, rgba(11,29,87,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d4883",endColorstr="#0b1d57",GradientType=1);
  @apply text-black;
} 